[submodule "dataset/include/circomlib"]
	path = dataset/include/circomlib
	url = https://github.com/iden3/circomlib.git
[submodule "dataset/include/circom-pairing"]
	path = dataset/include/circom-pairing
	url = https://github.com/yi-sun/circom-pairing.git
