[submodule "circomspect"]
	path = circomspect
	url = git@github.com:trailofbits/circomspect.git
[submodule "circom2llvm"]
	path = circom2llvm
	url = git@github.com:Koukyosyumei/circom2llvm.git
[submodule "benchmark/circomlib"]
	path = benchmark/circomlib
	url = git@github.com:iden3/circomlib.git
[submodule "benchmark/circom-starter"]
	path = benchmark/circom-starter
	url = git@github.com:0xPARC/circom-starter.git
[submodule "benchmark/maci"]
	path = benchmark/maci
	url = git@github.com:privacy-scaling-explorations/maci.git
[submodule "benchmark/circuits"]
	path = benchmark/circuits
	url = git@github.com:hermeznetwork/circuits.git
[submodule "benchmark/circom-compat"]
	path = benchmark/circom-compat
	url = git@github.com:arkworks-rs/circom-compat.git
[submodule "benchmark/ZeroSecret"]
	path = benchmark/ZeroSecret
	url = git@github.com:holyaustin/ZeroSecret.git
[submodule "benchmark/zvm"]
	path = benchmark/zvm
	url = git@github.com:tokamak-network/zvm.git
[submodule "benchmark/zkMeetUp"]
	path = benchmark/zkMeetUp
	url = git@github.com:pratham-bhatnagar/zkMeetUp.git
[submodule "benchmark/stark-snark-recursive-proofs"]
	path = benchmark/stark-snark-recursive-proofs
	url = git@github.com:Orbiter-Finance/stark-snark-recursive-proofs.git
[submodule "benchmark/ZK-Decision-Tree-Demo"]
	path = benchmark/ZK-Decision-Tree-Demo
	url = git@github.com:wyf-ACCEPT/ZK-Decision-Tree-Demo.git
[submodule "benchmark/celer-gnark-circomlib"]
	path = benchmark/celer-gnark-circomlib
	url = git@github.com:ingonyama-zk/celer-gnark-circomlib.git
[submodule "benchmark/zkp-fpu"]
	path = benchmark/zkp-fpu
	url = git@github.com:UVMichael/zkp-fpu.git
[submodule "benchmark/ZK-Merkle-Inclusion-Proof"]
	path = benchmark/ZK-Merkle-Inclusion-Proof
	url = git@github.com:LimeChain/ZK-Merkle-Inclusion-Proof.git
[submodule "selective-disclosure-sandbox"]
	path = selective-disclosure-sandbox
	url = git@github.com:motxx/selective-disclosure-sandbox.git
[submodule "super-duper-enigma"]
	path = super-duper-enigma
	url = git@github.com:niltonheck/super-duper-enigma.git
[submodule "private-dao-circuits"]
	path = private-dao-circuits
	url = git@github.com:phamnam1805/private-dao-circuits.git
[submodule "benchmark/circom-farm"]
	path = benchmark/circom-farm
	url = git@github.com:mixbytes/circom-farm.git
[submodule "benchmark/private-dao-circuits"]
	path = benchmark/private-dao-circuits
	url = git@github.com:phamnam1805/private-dao-circuits.git
[submodule "benchmark/super-duper-enigma"]
	path = benchmark/super-duper-enigma
	url = git@github.com:niltonheck/super-duper-enigma.git
[submodule "benchmark/selective-disclosure-sandbox"]
	path = benchmark/selective-disclosure-sandbox
	url = git@github.com:motxx/selective-disclosure-sandbox.git
[submodule "benchmark/zkSNARK-voting_system"]
	path = benchmark/zkSNARK-voting_system
	url = git@github.com:demis1997/zkSNARK-voting_system.git
[submodule "benchmark/springrollup"]
	path = benchmark/springrollup
	url = git@github.com:adompeldorius/springrollup.git
[submodule "benchmark/circom-monolith"]
	path = benchmark/circom-monolith
	url = git@github.com:shuklaayush/circom-monolith.git
[submodule "benchmark/sam-circuits"]
	path = benchmark/sam-circuits
	url = git@github.com:oxor-io/sam-circuits.git
[submodule "benchmark/circom_rps"]
	path = benchmark/circom_rps
	url = git@github.com:teeolendo/circom_rps.git
[submodule "benchmark/BattleShipZK"]
	path = benchmark/BattleShipZK
	url = git@github.com:Raunaque97/BattleShipZK.git
[submodule "benchmark/zk-ml-applications"]
	path = benchmark/zk-ml-applications
	url = git@github.com:thomasthechen/zk-ml-applications.git
[submodule "benchmark/semaphore-witness-example"]
	path = benchmark/semaphore-witness-example
	url = git@github.com:philsippl/semaphore-witness-example.git
[submodule "benchmark/ZKWhisper"]
	path = benchmark/ZKWhisper
	url = git@github.com:aayush4vedi/ZKWhisper.git
[submodule "benchmark/circomlib-ml"]
	path = benchmark/circomlib-ml
	url = git@github.com:socathie/circomlib-ml.git
[submodule "benchmark/IC3-dec-id"]
	path = benchmark/IC3-dec-id
	url = git@github.com:topliceanu/IC3-dec-id.git
[submodule "benchmark/Oraisan-Circuit-Demo"]
	path = benchmark/Oraisan-Circuit-Demo
	url = git@github.com:Oraisan/Oraisan-Circuit-Demo.git
[submodule "benchmark/circom-embassy"]
	path = benchmark/circom-embassy
	url = git@github.com:0xturboblitz/circom-embassy.git
[submodule "benchmark/abdk-libraries-circom"]
	path = benchmark/abdk-libraries-circom
	url = git@github.com:abdk-consulting/abdk-libraries-circom.git
[submodule "audit/circomlib"]
	path = audit/circomlib
	url = https://github.com/iden3/circomlib.git
[submodule "benchmark/circom-walkthrough"]
	path = benchmark/circom-walkthrough
	url = https://github.com/ZKDL-Camp/circom-walkthrough.git
